  <div class="rev-slider-full">
                    <div class="rev-slider-banner-full  rev-slider-full">
                        <ul>


                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/vat.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                               <!--  <div class="tp-caption lft stb stl"
                                     data-x="80"
                                     data-y="76"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbcosmetic.png") %></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="210"
                                     data-y="122"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbfood.png") %></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="357"
                                     data-y="175"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbmedical.png") %></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="646"
                                     data-y="76"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Danpack</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="152" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="230" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>                   -->

                            </li>



                                 <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/rd.jpg"  alt="rev-full1" data-fullwidthcentering="on">


                                    <div class="tp-caption slider-text-title sft str"
                                     data-x="100"
                                     data-y="176"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Udvikling</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="100" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Undertekst
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="100" data-y="240" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>     


                               <!--  <div class="tp-caption lft stb stl"
                                     data-x="80"
                                     data-y="76"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbcosmetic.png") %></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="210"
                                     data-y="122"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbfood.png") %></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="357"
                                     data-y="175"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbmedical.png") %></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="646"
                                     data-y="76"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Danpack</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="152" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="230" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>                   -->

                            </li>



                              <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/bg1.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                            <div class="tp-caption lft stb stl"
                                     data-x="80"
                                     data-y="76"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbcosmetic.png") %></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="210"
                                     data-y="122"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbfood.png") %></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="357"
                                     data-y="175"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbmedical.png") %></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="646"
                                     data-y="76"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Danpack</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="152" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="230" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>                  

                            </li>


                           <!--  <li  data-transition="slideleft" data-slotamount="14">
                                <img src="images/placeholders/slider1/bg2.jpg" alt="Rev Full">

                                <div class="caption sfb" data-x="693" data-y="75" data-speed="700" data-start="0"
                                     data-easing="easeOutBack">
                                    <img src="images/placeholders/slider1/mobile.png" alt=""/>
                                </div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Very Flexible</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">More Info</a>
                                </div>                

                            </li>
 -->
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div></div><!--.top wrapper end -->

            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading">

                <div class="section-content top-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                
                                        <%= image_tag("beauty.png", style: "height:80px") %>
                                            

                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <%= image_tag("rulle.png", style: "height:80px") %>
                                    
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                         <%= image_tag("soft.png", style: "height:80px") %>
                                        
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <%= image_tag("wet.png", style: "height:80px") %>
                                        
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="body-wrapper">

                    <div class="container">



<div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                                <h2 class="h2-section-title">Kunder</h2>
                                <ul class="section-clients">
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/ABC.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/AES.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Allison.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/BBI.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s" style="-webkit-animation: 0.6s;"><img src="images/placeholders/clients/danpack/Danlind.gif" alt="Logo" class="img-responsive client-image"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                              
                                <ul class="section-clients">
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Dermapharm.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/Dyrup.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/FdS.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Hardford.png" alt="Logo" class="img-responsive client-image"></li>
                                     <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Matas.png" alt="Logo" class="img-responsive client-image"></li>
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                               
                                <ul class="section-clients">
                                   
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/MedicDanmark.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Nopa.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Persano.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s" style="-webkit-animation: 0.6s;"><img src="images/placeholders/clients/danpack/propharmagroup230.png" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Riemann.gif" alt="Logo" class="img-responsive client-image"></li>
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                              
                                <ul class="section-clients">
                                  <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/SH.png" alt="Logo" class="img-responsive client-image"></li>
                                
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Silvaco.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Simplus.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Tandex.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/Unilever.gif" alt="Logo" class="img-responsive client-image"></li>
                                  
                                  
                                </ul>
                            </div>
                        </div>

                              <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                            
                                <ul class="section-clients">
                                  <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/vello.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Winova.png" alt="Logo" class="img-responsive client-image"></li>
                                
                                </ul>
                            </div>
                        </div>

                        <div class="space-sep40"></div>

                    

                    <!-- Product portfolio -->
                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.5s">
                                <h2 class="h2-section-title">Our Team Option 2</h2>

                                <div class="i-section-title">
                                    <i class="icon-files">

                                    </i>
                                </div>

                                <div class="space-sep20"></div>
                            </div>
                        </div>

                        <div class="row animated" data-animtype="fadeInUp" data-animrepeat="0"
                             data-animdelay="0.4s">
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Fred Nerk"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="behance" target="_blank" class="social-media-icon behance-icon">behance</a>
                                                <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                                                <a href="#" title="dribble" target="_blank" class="social-media-icon dribble-icon">dribble</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Fred Nerk
                                        </h3>

                                        <div class="team-member-position">
                                            Business analysts 
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Joe Shmoe"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Joe Shmoe
                                        </h3>

                                        <div class="team-member-position">
                                            Graphic Designer
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Jecson Smith"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                <a href="#" title="sharethis" target="_blank" class="social-media-icon sharethis-icon">sharethis</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Jecson Smith
                                        </h3>

                                        <div class="team-member-position">
                                            UI Specialist
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Product portfolio -->
                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.5s">
                                <h2 class="h2-section-title">Our Team Option 2</h2>

                                <div class="i-section-title">
                                    <i class="icon-files">

                                    </i>
                                </div>

                                <div class="space-sep20"></div>
                            </div>
                        </div>

                        <div class="row animated" data-animtype="fadeInUp" data-animrepeat="0"
                             data-animdelay="0.4s">
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Fred Nerk"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="behance" target="_blank" class="social-media-icon behance-icon">behance</a>
                                                <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                                                <a href="#" title="dribble" target="_blank" class="social-media-icon dribble-icon">dribble</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Fred Nerk
                                        </h3>

                                        <div class="team-member-position">
                                            Business analysts 
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Joe Shmoe"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Joe Shmoe
                                        </h3>

                                        <div class="team-member-position">
                                            Graphic Designer
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Jecson Smith"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                <a href="#" title="sharethis" target="_blank" class="social-media-icon sharethis-icon">sharethis</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Jecson Smith
                                        </h3>

                                        <div class="team-member-position">
                                            UI Specialist
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- end product portfolio -->







                    <div class="space-sep40"></div>

                    

                    <div class="section-content no-padding">


                        <div class="container">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <h2 class="h2-section-title">Take A Closer Look</h2>

                                    <div class="i-section-title">
                                        <i class="icon-zoom-in">

                                        </i>
                                    </div>

                                    <h3 class="h3-section-info">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                        quasi architecto beatae vitae dicta sunt explicabo.
                                    </h3>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 no-bottom-margin animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.7s">
                                    <img src="images/placeholders/responsive-mockup2-placeholder.png" alt="MockUp" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-sep40"></div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <h2 class="h2-section-title">What We Offer</h2>

                                <div class="i-section-title">
                                    <i class="icon-drive">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 right-text">
                                <ul class="icon-content-list-container">

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Responsive </strong> Design            

                                                <i class="icon-ipad"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Very </strong> Flexible            

                                                <i class="icon-settings"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Unlimited </strong> Skins            

                                                <i class="icon-painting-roll-streamline"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Well </strong> Documented            

                                                <i class="icon-file-settings"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="icon-content-list-container">

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Retina </strong> Ready            

                                                <i class="icon-eye"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Multi </strong> Purpose            

                                                <i class="icon-world"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Animation </strong> Ready            

                                                <i class="fa fa-film"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Latest </strong> Technology            

                                                <i class="icon-lab"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="testimonial-big">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <div class="testimonial-big-text animated" data-animtype="fadeInRight"
                                     data-animrepeat="1"
                                     data-speed="1s"
                                     data-delay="0s">
                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                                    nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="testimonial-big-img animated" data-animtype="fadeInLeft"
                                     data-animrepeat="1"
                                     data-speed="1s"
                                     data-delay="0s">
                                    <img src="images/placeholders/testimonial-big.png" alt=""/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--.content-wrapper end -->