  <div class="rev-slider-full">
                    <div class="rev-slider-banner-full  rev-slider-full">
                        <ul>


                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/vat.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                               <!--  <div class="tp-caption lft stb stl"
                                     data-x="80"
                                     data-y="76"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbcosmetic.png") %></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="210"
                                     data-y="122"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbfood.png") %></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="357"
                                     data-y="175"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbmedical.png") %></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="646"
                                     data-y="76"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Danpack</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="152" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="230" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>                   -->

                            </li>



                                 <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/rd.jpg"  alt="rev-full1" data-fullwidthcentering="on">


                                    <div class="tp-caption slider-text-title sft str"
                                     data-x="100"
                                     data-y="176"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Udvikling</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="100" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Undertekst
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="100" data-y="240" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>     


                               <!--  <div class="tp-caption lft stb stl"
                                     data-x="80"
                                     data-y="76"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbcosmetic.png") %></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="210"
                                     data-y="122"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbfood.png") %></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="357"
                                     data-y="175"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbmedical.png") %></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="646"
                                     data-y="76"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Danpack</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="152" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="230" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>                   -->

                            </li>



                              <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/bg1.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                            <div class="tp-caption lft stb stl"
                                     data-x="80"
                                     data-y="76"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbcosmetic.png") %></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="210"
                                     data-y="122"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbfood.png") %></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="357"
                                     data-y="175"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo" data-end="6000" data-endspeed="500"><%= image_tag("kbmedical.png") %></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="646"
                                     data-y="76"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Danpack</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="152" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="646" data-y="230" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Mere info</a>
                                </div>                  

                            </li>


                           <!--  <li  data-transition="slideleft" data-slotamount="14">
                                <img src="images/placeholders/slider1/bg2.jpg" alt="Rev Full">

                                <div class="caption sfb" data-x="693" data-y="75" data-speed="700" data-start="0"
                                     data-easing="easeOutBack">
                                    <img src="images/placeholders/slider1/mobile.png" alt=""/>
                                </div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Very Flexible</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack" data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">More Info</a>
                                </div>                

                            </li>
 -->
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div></div><!--.top wrapper end -->

            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


           <%= render partial: 'layouts/quicklinks' %>



            <%= render partial: 'layouts/clients' %>

            <div class="space-sep20"></div>

                    


                            


                                                    
                                                    
                                                    <%= render partial: 'layouts/portfolio' %>



                                                    <%= render partial: 'layouts/products2' %>

 <%= render partial: 'layouts/wetnap' %>
  <%= render partial: 'layouts/stick' %>
   <%= render partial: 'layouts/gelatine' %>
    <%= render partial: 'layouts/qtip' %>
 <%= render partial: 'layouts/traditionel' %>
  <%= render partial: 'layouts/baby' %>



                    









                <div class="container">
                    <!-- Product portfolio -->
                        <div class="row">
                           
                        </div>



                        

                </div>







                    <div class="space-sep40"></div>

                    

                    

                    <div class="space-sep40"></div>

                    <div class="container">
                        <div class="row">
                        </div>
                            
                    </div>


                    <div class="testimonial-big">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div class="testimonial-big-text animated" data-animtype="fadeInRight"
                                         data-animrepeat="1"
                                         data-speed="1s"
                                         data-delay="0s">
                                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="testimonial-big-img animated" data-animtype="fadeInLeft"
                                         data-animrepeat="1"
                                         data-speed="1s"
                                         data-delay="0s">
                                        <img src="images/placeholders/testimonial-big.png" alt=""/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div><!--.content-wrapper end -->