 <div class="content-wrapper">

                <div class="section-content top-body">
                    <div class="container">
                        <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                
                                        <%= image_tag("beauty.png", style: "height:80px") %>
                                            

                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat

                                        <div>
                                            <a href="#staaposer" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <%= image_tag("rulle.png", style: "height:80px") %>
                                    
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem era

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                         <%= image_tag("soft.png", style: "height:80px") %>
                                        
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <%= image_tag("wet.png", style: "height:80px") %>
                                        
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat,

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div> <!-- Row end -->
                    </div> <!-- col-md-6 -->


                                <div class="col-md-6">
                            <div class="row">
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                
                                        <%= image_tag("gelatin.png", style: "height:80px") %>
                                            

                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat,

                                        <div>
                                            <a href="#staaposer" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <%= image_tag("Sachet.png", style: "height:80px") %>
                                    
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat
                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                         <%= image_tag("soft.png", style: "height:80px") %>
                                        
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, 
                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <%= image_tag("wet.png", style: "height:80px") %>
                                        
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, 

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>Læs mere</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div> <!-- Row end -->
                    </div> <!-- col-md-6 -->


                        </div>
                    </div>

                </div>